.carousel {
  background-image: url("./../../images/Violet_top_left_wave.png"),
    url("../../images/yellow_top_wave_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom, top;

  &__heading {
    @include flex-center();
    p {
      @include text($color-primary, 20px, 600);
      text-transform: uppercase;
    }
    h1 {
      font-size: 60px;
      font-weight: 700;
    }
  }

  &__img {
    width: 100%;
  }
}
