.team {
  background-color: #dcd1f3;
  background-image: url("./../../images/Wave_White_bottom_right_shape_01.png");
  @include background(bottom, contain);
  .card-container {
    .card {
      border-radius: 20px;
      border: none;
      overflow: hidden;
      transition: all 0.5s;
      &:hover {
        box-shadow: 3px 13px 20px 0px #00000047;
      }
      .card-info {
        @include text($color-primary, 15px, 500);
        text-transform: uppercase;
      }
      .card-title {
        @include text(black, 22px, 700);
      }
      .card-img-container {
        overflow: hidden;
        .card-img-top {
          transition: all 1s;
          overflow: hidden;
          width: 100%;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .card-body {
        text-align: center;
      }
    }
    padding: 20px;
  }
}
